@CHARSET "UTF-8";
*,*:after,*:before{webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body,form,table,img{margin:0;padding:0;}
img{border:0;}
body{-moz-osx-font-smoothing: grayscale;font-size:12px;color:#666;;overflow-y:scroll;background:#f5f5f5;
	-moz-user-select:none;-khtml-user-select:none;user-select:none;cursor:default;
	font-family:"Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans",
	"wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",Arial,sans-serif;}
.clear:after,section_box:after{content:" ";display:table;clear:both;}
.wrap{padding:0 10px;}
.fleft{float:left;}
.fright{float:right;}
.my_btn{display:inline-block;color:#eee;text-align:center;border-radius:2px;position:relative;}
.small_btn{padding:3px 10px;}
.nomal_btn{padding-top:10px;padding-bottom:10px;letter-spacing:2px;font-size:15px;}
.disabled:before{content:" ";position:absolute;left:0;top:0;display:block;width:100%;height:100%;z-index:1;background-color:#fff;opacity:0.5;}
.red_bg1{background-color:#F15026}
.blue_bg1{background-color:#009159}
.red_color1{color:#F15026}
.red_color2{color:rgb(241,80,38);}
section_box{display:block;}
section{display:block;float:left;position:relative;}
section25{display:block;width:17%;float:left;position:relative;}
section75{display:block;float:left;position:relative;}
section33{display:block;width:33.3333%;float:left;position:relative;}
section50{display:block;width:103%;float:left;position:relative;}
.square{position:absolute;width:100%;height:100%;left:0;top:0;text-align:center;}
.ellipsis{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.my_input{padding-top:7px;padding-bottom:7px;border-radius:2px;font-size:16px;color:#444;border:1px solid #ddd;}
.my_input:focus{border:1px solid #0e90d2;}

